footer.footer
  .container
    .footer__row
      .footer__column
        .footer__address
          p AOD New York
          p 2250 Lexington Avenue 
          p New York, NY 10035  - info@domain.com
      .footer__column
        .footer__social(class="social")
          a(class="social__link" href='')
            img(src='../assets/img/icons/social/01.png', alt='')
          a(class="social__link" href='')
            img(src='../assets/img/icons/social/02.png', alt='')
          a(class="social__link" href='')
            img(src='../assets/img/icons/social/03.png', alt='')
      .footer__column
        a.footer__dev(class="dev" href='')
          span.dev__text Handcrafted by
          span.dev__icon
            img(src='../assets/img/icons/dev.png', alt='')
