header.header
   .header__row
      nav.header__menu(class=['menu'])
         .menu__icon(class=['icon-menu']) 
            span
            span
            span
         .menu__body 
            ul.menu__list 
               li  
                  a(class='menu_link' href="") abaut
               li 
                  a(class='menu_link' href="") work
               li 
                  a(class='menu_link' href="") shop  
               li 
                  a(class='menu_link' href="") contact 
      .header__logo 
         img(src="../assets//img/logo.png", alt="")        