header
   .header__row
      nav.header__menu(class=['menu'])>
         .menu__icon(class=['icon-menu']) 
            span
            span
            span
         .menu_body 
            ul.menu__list 
               li<a href="".menu_link>abaut
               li<a href="".menu_link>work
               li<a href="".menu_link>shop  
               li<a href="".menu_link>contact 