
block variables
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    meta(name="description", content=description)
    //-block head

  body
    .wrapper
      main.page
        include ../includes/modules/header
        .main-screen
          .main-screen__bg(class=['ibg'])
            img(src="../assets/img/bg_main.jpg", alt="")
        .content
          section.generation
            .container
               .generation__block(class='block')
                  .block__icon
                     img(src="../assets//img/icons/title/01.png", alt="") 
                  h1.block__title A NEW GENERATION OF VINTAGE BIKE
                  .block__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
        //-block conten
      
      
      
        //- include ../includes/modules/foote
  //-block script
  include ../utils/mixins