
block variables
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    meta(name="description", content=description)
    //-block head

  body
    .wrapper
      main.page
        include ../includes/modules/header
        .main-screen
          .main-screen__bg(class=['ibg'])
            img(src="../assets/img/bg_main.jpg", alt="")
        .content
          section.generation
            .container
               .generation__block(class='block')
                  .block__icon
                     img(src="../assets//img/icons/title/01.png", alt="") 
                  h1.block__title A NEW GENERATION OF VINTAGE BIKE
                  .block__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
          section.brands
            .brands__row
               .brands__column(class="brands__column_b")
                  a(class="brands__item item" href="")
                     span.item__logo
                        img(src="../assets/img/logos/01.png", alt="")
                     span.item__image(class="ibg")
                        img(src="../assets/img/brands/01.jpg", alt="")
               .brands__column 
                  .brands__content(class='block')
                     .block__icon
                        img(src="../assets//img/icons/title/02.png", alt="") 
                     h2.block__title vintage Oliva
                     .block__text(class="block__text_j") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quo quibusdam natus repellat saepe error unde a architecto. Repellat at alias nemo. Placeat consectetur exercitationem temporibus enim. Sint, eaque ullam?
                  .brands__image(class="ibg")
                     img(src="../assets/img/brands/02.jpg", alt="")
          section.brands(class="brands_rev")
            .brands__row
               .brands__column(class="brands__column_b")
                  a(class="brands__item item" href="")
                     span.item__logo
                        img(src="../assets/img/logos/02.png", alt="")
                     span.item__image(class="ibg")
                        img(src="../assets/img/brands/04.jpg", alt="")
               .brands__column 
                  .brands__content(class='block')
                     .block__icon
                        img(src="../assets//img/icons/title/03.png", alt="") 
                     h2.block__title La Boriosa
                     .block__text(class="block__text_j") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .brands__image(class="ibg")      
                     img(src="../assets/img/brands/03.jpg", alt="")  
          section.brands(class="brands_last")
            .brands__row
               .brands__column
                  a(class="brands__item item" href="")
                     span.item__logo
                        img(src="../assets/img/logos/03.png", alt="")
                     span.item__image(class="ibg")
                        img(src="../assets/img/brands/05.jpg", alt="")
               .brands__column 
                  .brands__content(class='block')
                     .block__icon
                        img(src="../assets//img/icons/title/04.png", alt="") 
                     h2.block__title retrò Bike - M. Hulot
                     .block__text(class="block__text_j") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam exercitationem qui asperiores harum ratione consectetur deserunt velit eveniet amet placeat ipsum, facere itaque, error optio, necessitatibus enim incidunt dolore! Illo laboriosam impedit doloremque, quas minus expedita architecto iusto officia molestias! Deleniti doloribus nesciunt maxime amet dolorem esse aliquam id!
                  .brands__image(class="ibg")
                     img(src="../assets/img/brands/06.jpg", alt="")
               .brands__column
                  a(class="brands__item item" href="")
                     span.item__logo
                        img(src="../assets/img/logos/03.png", alt="")
                     span.item__image(class="ibg")
                        img(src="../assets/img/brands/07.jpg", alt="")      
        //- include ../includes/modules/foote
  //-block script
  include ../utils/mixins